@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;

}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    background: #C0CAED;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #091747;
    background-image: linear-gradient(to top, #091747 0%, #091747
    100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3.6rem;
}

.navbar .navbar__container h2{
    position: relative;
    top: 2.5rem;
    right: 2rem;
    font-size: 1.3rem;
    font-style: italic;
    color: #091747;
    font-weight: 100;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #091747;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 2rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 50px;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #03B4C6;
    color: #fff;
}

.button:hover{
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #4837ff;
    transition: all 0.3s ease;
}

/* Header Media Query */
@media screen and (max-width: 1250px){
    .navbar__links{
        font-size: 1.3rem;
    }
    .button{
        font-size: 1.3rem;
    }
    #navbar__logo{
        font-size: 3rem;
    }
}

@media screen and (max-width: 1000px){
    #navbar__logo{
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 960px){

    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .navbar .navbar__container h2{
        position: absolute;
        padding-left: 12rem;
        padding-top: 12px;
        display: inline-flex;
        
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active{
        background: #C0CAED;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
        
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 50px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 880px){
    .navbar__container #navbar__logo{
        font-size: 2.5rem;
    }

}

/* Hero Section */
.hero{
    height: 70vh;
}

.hero_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 40px;
    margin: 0 30px;
}

.hero_container .hero_feature h1{
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 20px;
    margin-left: 10px;
}

.hero_feature i{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 23px;
    right: 20px;
    font-size: 1.5rem;
    color: #3A4D8F;
}

.hero_container .hero_img{
    display: inline-flex;
    position: relative;
    left: 1rem;
    max-width: 100%;
    height: 550px;
}

/* Hero Media Query */
@media screen and (max-width: 1300px){
    .navbar .navbar__container h2{
        font-size: 1.2rem;
        right: 1.1rem;
    }
    /* .hero_container .hero_img{
        max-width: 100%;
        max-height: 100%;
        margin-right: 2rem;
    } */
}

@media screen and (max-width: 1250px){
    .navbar .navbar__container h2{
        font-size: 1rem;
        left: 0.1rem;
    }
    
    .hero_container .hero_img{
        position: relative;
        
    }
    
    .hero_container  .hero_feature h1{
        font-size: 1rem;
        /* margin-left: 5px; */
    }
    .hero_feature i {
        font-size: 1.3rem;
        
    }
}

@media screen and (max-width: 1100px){
    .hero_container  .hero_feature h1{
        font-size: 1rem;
        margin-left: 5px;
    }
    .hero_feature i {
        font-size: 1rem;
        top: 15px;
    }
    /* .hero_container .hero_img {
        max-width: 50%;
        max-height: auto;
    } */

    .hero_container {
        margin: 0;
    }
}

@media screen and (max-width: 1090px){
    .hero{
        height: 110vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .hero_container .hero_feature h1{
        margin-left: 1px;
    }
    
    .hero_container{
        flex-direction: column;
    }
    .hero_container .hero_img{
        padding-right: 3rem;
    }
}

@media screen and (max-width: 880px){
    .hero_container .hero_img img{
        padding-right: 1rem;
        width: 550px;
        height: 450px;
    }
}

@media screen and (max-width: 700px){
    .hero_container .hero_img img{
      text-align: center;
      width: 480px;
      height: 450px;
    }
}

@media screen and (max-width: 500px){
    .hero_container{
        left: 0;
        text-align: center;
    }

    .hero_container .hero_feature h1{
       font-size: 16px;
    }

    .hero_container .hero_feature i{
        position: relative;
        bottom: 2rem;
    }

    .hero_container .hero_img img{
        width: 400px;
        height: 410px;
        padding-right: 5px;
    }
    .navbar .navbar__container h2{
        font-size: 15px;
        
    }
}
/* End Hero Media Query */

/* End Hero Section */

/* Feature Section */
.features .feature{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 40px;
}
.feature h1{
    text-align: center;
    font-weight: 100;
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.feature p{
    text-align: justify;
    font-weight: 50;
    font-size: 1.2rem;
    font-family: 'M PLUS 1', sans-serif;
}
.feature_text:nth-child(2){
    margin-bottom: 1.6rem;
}
.feature_text:nth-child(3){
    margin-top: 1.5rem;
}

.feature .feature_text{
    width: 80%;
    /* float: left; */
    padding: 25px;
}

.feature i{
    position: relative;
    left: 47%;
    margin: auto;
    padding-bottom: 5%;
    font-size: 2rem;
    color: #091747;
}
/* Features media query */
@media screen and (max-width: 1090px){
    .features{
        padding-top: 23%;
    }
    .features .feature{
        height: 1150px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .feature .feature_text{
        width: 50%;  
    }
    .feature i {
        position: relative;
        margin: 0 auto;
    } 
}

@media screen and (max-width: 880px){
    .features .feature{
        text-align: center;
        padding-bottom: 20%;
        left: 20px;
    }
    .feature i{
        position: relative;
        left: 0;
    }
    .feature .feature_text{
        width: 80%;
        
    }
    
}

@media screen and (max-width: 750px){
    .features .feature{
        left: 20px;
    }
    .feature_container i{
        /* left: 8rem; */
        position: relative;    
    }
}

@media screen and (max-width: 480px){
    html, body{
         width: 100%;
         height: 100%;
         margin: 0;
         padding: 0;
         overflow-x: hidden;
    }
    .features .feature{
        height: 790px;
    }
    .feature .feature_text p{
        font-size: 18px;
    }

    .feature .feature_text i {
        font-size: 24px;
    }
    .feature_text:nth-child(3){
        margin-top: 0;
        margin-bottom: 15%;
    }

}

/* End features media query */

/* End Feature Section */

/* Footer Section */
.footer_email{
    background-image: linear-gradient(60deg, #C0CAED 0%, #C0CAED 100%);
    width: 100%;
}
.footer_email .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer .input{
    padding: 12px;
    padding-bottom: 2rem;
    text-align: center;
}
.footer .input #textbox-input{
    height: 40px;
    width: 30rem;
    font-size:1rem;
}

.footer .input #button-input{
    height: 40px;
    width: 6rem;
    font-size: 1rem;
    display: none;
}

.input p{
    padding-bottom: 10px;
}

.footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
.footer h1{
    color: #091747;
    font-weight: 100;
    font-size: 2.7rem;
}

.footer h2{
    color: #091747;
    font-weight: 100;
    font-style: italic;
    padding-bottom: 14px;
}

.footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 35px;
    justify-content: space-between;
}

.footer #button-input{
    /* justify-content: center; <---this block of comment is for reference css
    align-items: center;
    text-decoration: none;
    padding: 10px 50px;
    height: 100%;
    width: 100%; */
    background-color: #03B4C6;
    border: none;
    color: white;
    /* padding: 16px 32px; */
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.footer #button-input:hover{
    background: #4837ff;
    transition: all 0.3s ease;
}

.input .icons{
position: absolute;
right: 15px;
top: 50%;
transform: translateY(-50%);
}
.input .icons span{
    height: 25px;
    width: 25px;
    border: 2px solid;
    border-radius: 50%;
    line-height: 25px;
    display: none;
}
.input .icons span.icon1{
color: #e74c3c;
border-color: #e74c3c;
}
.input .icons span.icon2{
color: #27ae60;
border-color: #27ae60;
}
.input .error-text{
position: relative;
margin: 15px 0 -5px 0;
background: #e74c3c;
color: #fceae8;
font-size: 18px;
padding: 8px;
border-radius: 5px;
user-select: none;
display: none;
}
  form .error-text:before{
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: #e74c3c;
    right: 20px;
    top: -7px;
    transform: rotate(45deg);
  }
  form button{
    margin-top: 10px;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #27ae60;
    color: #f2f2f2;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    display: none;
    transition: 0.3s;
  }
  form button:hover{
    background: #219150;
  }

/* Footer media query */
@media screen and (max-width: 750px){
    .footer h1{
        font-size: 2.1rem;
    }

    .footer h2{
        font-size: 1.4rem;
    }

    .footer .input p{
        font-size: 14px;
    }
    .footer .input #textbox-input{
        width: 400px;
    }

    .footer .social-item{
        height: 25px;
        width: 25px;
        margin: 0 35px;
        justify-content: space-between;
    }

    .footer .social-item img{
        height: 35px;
        width: 35px;
    }

}
/* End footer media query */

/* End Footer Section */