@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;

}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* header section */
.navbar{
    background: #C0CAED;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #091747;
    background-image: linear-gradient(to top, #091747 0%, #091747
    100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3.6rem;
}

.navbar .navbar__container h2{
    position: relative;
    top: 2.5rem;
    right: 2rem;
    font-size: 1.3rem;
    font-style: italic;
    color: #091747;
    font-weight: 100;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #091747;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 2rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 50px;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #03B4C6;
    color: #fff;
}

.button:hover{
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #4837ff;
    transition: all 0.3s ease;
}
/* end header section */

/* Products Section */
.products .product{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
}

.products .products-top{
    max-width: 860px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.products #title{
    font-size: 3rem;
    font-weight: 100;
    font-family: 'M PLUS 1', sans-serif;
    color: #091747;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.products-top p{
    font-weight: 100;
    text-align: center;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 1.1rem;
} 
.products .products-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.products-item img{
    height: 280px;
    width: 250px;
}

/* .products .products-item:nth-child(1) p{

} */

.products-item:nth-child(2) img{
    height: 260px;
    width: 250px; 
}
.products .products-item:nth-child(2) p{
    font-size: 1rem;
    font-family: 'M PLUS 1', sans-serif;
}

.products-item:nth-child(3) img{
    height: 260px;
    width: 250px; 
}

.products .products-item h2{
    color: #091747;
    font-weight: 200;
    padding: 5px;
}

.products .products-item p{
    font-size: 1rem;
    font-family: 'M PLUS 1', sans-serif;
}

.products .products-item{
    flex-basis: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    outline: 0;
}
.products .products-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #C0CAED 0%, #C0CAED 80%);
    opacity: .9;
    z-index: -1;
}

.products .products-item .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

.products #footer_div_text{
    padding-top: 5rem;
    text-align: center;
    color: #091747;
    font-weight: 100;
    font-family: 'M PLUS 1', sans-serif;
    font-style: italic;
}

.products #footer_div_p{
    padding-top: 1rem;
    text-align: center;
    color: #091747;
    font-weight: 100;
    font-family: 'M PLUS 1', sans-serif;
}

/* End Products Section */

/* divider */
hr.rounded{
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

/* Price section */
.price .prices{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    padding-top: 20px;
}

.prices .prices-top{
    max-width: 840px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.price h1{
    color: #091747;
    font-weight: 100;
    font-family: 'M PLUS 1', sans-serif;
    margin-bottom: 20px;
    font-size: 2.7rem;
    text-align: center;
}

.price .prices-top p {
    font-weight: 100;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 1.3rem;
    align-items: center;
    text-align: center;
}

.price .prices-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    padding: 20px;
}

.prices-bottom .price-item{
    flex-basis: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    outline: 0;
}
.prices-bottom .price-item p{
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 800;
    font-size: 1rem;
}

.prices-bottom .price-item h4{
    font-family: 'M PLUS 1', sans-serif;
    padding: 7px;
    font-weight: 200;
    font-size: 1.3rem;
}

.prices #month_tag{
    padding-bottom: 15px;
}

/* End Price section */

/* Footer Section */
.footer_email{
    background-image: linear-gradient(60deg, #C0CAED 0%, #C0CAED 100%);
    width: 100%;
}
.footer_email .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer .input{
    padding: 12px;
    padding-bottom: 2rem;
    text-align: center;
}
.footer .input #textbox-input{
    height: 40px;
    width: 30rem;
    font-size:1rem;
}

.footer .input #button-input{
    height: 40px;
    width: 6rem;
    font-size: 1rem;
}

.input p{
    padding-bottom: 10px;
}

.footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
.footer h1{
    color: #091747;
    font-weight: 100;
    font-size: 2.7rem;
}

.footer h2{
    color: #091747;
    font-weight: 100;
    font-style: italic;
    padding-bottom: 14px;
}

.footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 35px;
    justify-content: space-between;
}

.footer #button-input{
    /* justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 50px;
    height: 100%;
    width: 100%; */
    background-color: #03B4C6;
    border: none;
    color: white;
    /* padding: 16px 32px; */
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.footer #button-input:hover{
    background: #4837ff;
    transition: all 0.3s ease;
}


/* End Footer Section */