@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;

}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* header section */
.navbar{
    background: #C0CAED;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #091747;
    background-image: linear-gradient(to top, #091747 0%, #091747
    100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3.6rem;
}

.navbar .navbar__container h2{
    position: relative;
    top: 2.5rem;
    right: 2rem;
    font-size: 1.3rem;
    font-style: italic;
    color: #091747;
    font-weight: 100;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #091747;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 2rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 50px;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #03B4C6;
    color: #fff;
}

.button:hover{
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #4837ff;
    transition: all 0.3s ease;
}

/* Header Media Query */
@media screen and (max-width: 1300px){
    .navbar .navbar__container h2{
        font-size: 1.2rem;
        right: 1.1rem;
    }
    /* .hero_container .hero_img{
        max-width: 100%;
        max-height: 100%;
        margin-right: 2rem;
    } */
}

@media screen and (max-width: 1250px){
    .navbar .navbar__container h2{
        font-size: 1rem;
        left: 0.1rem;
    }

    .navbar__links{
        font-size: 1.3rem;
    }
    .button{
        font-size: 1.3rem;
    }
    #navbar__logo{
        font-size: 3rem;
    }
}

@media screen and (max-width: 1000px){
    #navbar__logo{
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 960px){

    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .navbar .navbar__container h2{
        position: absolute;
        padding-left: 12rem;
        padding-top: 12px;
        display: inline-flex;
        
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active{
        background: #C0CAED;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
        
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 50px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 880px){
    .navbar__container #navbar__logo{
        font-size: 2.5rem;
    }

}

@media screen and (max-width: 500px){
    .navbar .navbar__container h2{
        font-size: 15px;
    }
}

/* End Header media query */
/* end header section */

/* Products Section */
.products .product{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
}

.products .products-top{
    max-width: 860px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.products #title{
    font-size: 3rem;
    font-weight: 100;
    font-family: 'M PLUS 1', sans-serif;
    color: #091747;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.products-top p{
    font-weight: 100;
    text-align: center;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 1.1rem;
} 
.products .products-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.products-item img{
    height: 280px;
    width: 250px;
}

/* .products .products-item:nth-child(1) p{

} */

.products-item:nth-child(2) img{
    height: 260px;
    width: 250px; 
}
.products .products-item:nth-child(2) p{
    font-size: 1rem;
    font-family: 'M PLUS 1', sans-serif;
}

.products-item:nth-child(3) img{
    height: 260px;
    width: 250px; 
}

.products .products-item h2{
    color: #091747;
    font-weight: 200;
    padding: 5px;
}

.products .products-item p{
    font-size: 1rem;
    font-family: 'M PLUS 1', sans-serif;
}

.products .products-item{
    flex-basis: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    outline: 0;
}
.products .products-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #C0CAED 0%, #C0CAED 80%);
    opacity: .9;
    z-index: -1;
}

.products .products-item .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

.products #footer_div_text{
    padding-top: 5rem;
    text-align: center;
    color: #091747;
    font-weight: 100;
    font-family: 'M PLUS 1', sans-serif;
    font-style: italic;
}

.products #footer_div_p{
    padding-top: 1rem;
    text-align: center;
    color: #091747;
    font-weight: 100;
    font-family: 'M PLUS 1', sans-serif;
}

/* End Products Section */

/* divider */
hr.rounded{
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

/* Price section */
.price .prices{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    padding-top: 20px;
}

.prices .prices-top{
    max-width: 840px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.price h1{
    color: #091747;
    font-weight: 100;
    font-family: 'M PLUS 1', sans-serif;
    margin-bottom: 20px;
    font-size: 2.7rem;
    text-align: center;
}

.price .prices-top p {
    font-weight: 100;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 1.3rem;
    align-items: center;
    text-align: center;
}

.price .prices-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    padding: 20px;
}

.prices-bottom .price-item{
    flex-basis: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    outline: 0;
}
.prices-bottom .price-item p{
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 800;
    font-size: 1rem;
}

.prices-bottom .price-item h4{
    font-family: 'M PLUS 1', sans-serif;
    padding: 7px;
    font-weight: 200;
    font-size: 1.3rem;
}

.prices #month_tag{
    padding-bottom: 15px;
}

.prices .buttonplan{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 30px;
    height: 100%;
    width: 80%;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 4px;
    margin: 10px;
    background: #03B4C6;
    color: #fff;
}

.prices .buttonplan:hover{
    background: #4837ff;
    transition: all 0.3s ease;
}

/* End Price section */

/* Footer Section */
.footer_email{
    background-image: linear-gradient(60deg, #C0CAED 0%, #C0CAED 100%);
    width: 100%;
}
.footer_email .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer .input{
    padding: 12px;
    padding-bottom: 2rem;
    text-align: center;
}
.footer .input #textbox-input{
    height: 40px;
    width: 30rem;
    font-size:1rem;
}

.footer .input #button-input{
    height: 40px;
    width: 6rem;
    font-size: 1rem;
    display: none;
}

.input p{
    padding-bottom: 10px;
}

.footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
.footer h1{
    color: #091747;
    font-weight: 100;
    font-size: 2.7rem;
}

.footer h2{
    color: #091747;
    font-weight: 100;
    font-style: italic;
    padding-bottom: 14px;
}

.footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 35px;
    justify-content: space-between;
}

.footer #button-input{
    /* justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 50px;
    height: 100%;
    width: 100%; */
    background-color: #03B4C6;
    border: none;
    color: white;
    /* padding: 16px 32px; */
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.footer #button-input:hover{
    background: #4837ff;
    transition: all 0.3s ease;
}

.input .icons{
position: absolute;
right: 15px;
top: 50%;
transform: translateY(-50%);
}
.input .icons span{
    height: 25px;
    width: 25px;
    border: 2px solid;
    border-radius: 50%;
    line-height: 25px;
    display: none;
}
.input .icons span.icon1{
color: #e74c3c;
border-color: #e74c3c;
}
.input .icons span.icon2{
color: #27ae60;
border-color: #27ae60;
}
.input .error-text{
position: relative;
margin: 15px 0 -5px 0;
background: #e74c3c;
color: #fceae8;
font-size: 18px;
padding: 8px;
border-radius: 5px;
user-select: none;
display: none;
}
      form .error-text:before{
        position: absolute;
        content: '';
        height: 15px;
        width: 15px;
        background: #e74c3c;
        right: 20px;
        top: -7px;
        transform: rotate(45deg);
      }
      form button{
        margin-top: 10px;
        width: 100%;
        height: 45px;
        border: none;
        outline: none;
        border-radius: 5px;
        background: #27ae60;
        color: #f2f2f2;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        display: none;
        transition: 0.3s;
      }
      form button:hover{
        background: #219150;
      }
    

/* End Footer Section */