@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;

}
body{
    /* margin: 0; */
    font-family: sans-serif;
}
h2{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 200;
}
.products .product{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
}

.products .products-top{
    max-width: 860px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.products #title{
    font-size: 3rem;
    font-weight: 100;
    font-family: 'M PLUS 1', sans-serif;
    color: #091747;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.products-top p{
    font-weight: 100;
    text-align: center;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 1.1rem;
} 
.products-bottom{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.products-item{
    height: calc(100vh/1.4);
    width: 20%;
    margin: 55px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: #C0CAED;
}
.products-item:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.products-item h2{
    font-weight: 200;
    font-size: 20px;
    padding-bottom: 12px;
    color: #091747;
}

img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

p{
    text-align: center;
    color: black;
    padding-top: 0 8px;
    font-family: 'M PLUS 1', sans-serif;
}


/* Products media query */
@media(max-width: 1200px){
    .products-item{
        width: 45%;
    }
    .products #title{
        font-size: 2.7rem;
    }
    .products .products-top p{
        font-size: 14px;
    }
}
@media(max-width:750px){
    .products #title{
        font-size: 2rem;
    }

    .products .products-top p{
        font-size: 13px;
    }
    .products-item{
        width: 100%;
    }
}


/* @media screen and (max-width: 1190px){
    .products #title{
        font-size: 2.7rem;
    }
    .products .products-top p{
        font-size: 14px;
    }
    .products .products-item{
        flex-basis: 28%;
    }
    .products .products-item:nth-child(1){
        height: auto;
    }
}

@media screen and (max-width: 940px){
    .products .products-bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .price #footer_div_text{
        font-size: 1.7rem;
    }

    .price #footer_div_p{
        font-size: 14px;
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 660px){
    .products #title{
        font-size: 2rem;
    }

    .products .products-top p{
        font-size: 13px;
    }

    .products .products-item h2{
        font-size: 18px;
    }

    .products .products-item p{
        font-size: 14px;
    }
} */

/* End products media query */

/* End Products Section */ 